/* Kártya keretek életkor alapján */
.old-dev {
  border: 2px solid #dc3545 !important; /* piros keret */
}
.old-dev .card-img-top {
  filter: grayscale(100%) brightness(90%); /* elhalványított, fekete-fehér */
}

.young-dev {
  border: 2px solid #198754 !important; /* zöld keret */
}

/* Kártya szélesség harmonizáció */
.card {
  width: 18rem;
}

/* GDPR banner vizuális kiemelés */
#gdprBanner {
  z-index: 1050;
}
